.writingArea {
  background-color: var(--backColor);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100px;
  margin-right: 30px;
}
.textarea {
  height: 100%;
  width: 100%;
  border: none;
  padding: 9px;
  border-radius: 4px;
  font-size: 1.3em;
  background-color: var(--backColor);
}
.button {
  padding: 5px !important;
  color: white !important;
  border: none !important;
  margin-left: 80% !important;
  width: 20% !important;
  border-radius: 5px !important;
  font-size: 1.2em !important;
  cursor: pointer !important;
  background-color: var(--secondaryColor) !important;
}
.button:hover {
  color: var(--focusColor);
  transition: color 0.2s linear;
}
.buttonWrapper {
  padding: 5px;
}
@media (max-width: 768px) {
  .writingArea {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0px;
  }
}
