.wrapper {
  background-color: var(--backColor);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2em;
}
.text {
  margin-bottom: 10px;
  word-break: break-word;
}
.stats {
  color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  user-select: none;
}
.stats > span > i {
  color: var(--secondaryColor);
  cursor: pointer;
}
@media (max-width: 768px) {
  .wrapper {
    border-radius: 0;
  }
}
