.wrapper {
  background-color: var(--backColor);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2em;
  width: 45%;
}
.text {
  margin-bottom: 10px;
  margin-right: 10px;
  word-break: break-word;
}
.content {
  display: flex;
  justify-content: space-between;
}
.stats {
  color: var(--secondaryColor);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2em;
  user-select: none;
}

.likesNum {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .wrapper {
    border-radius: 0 !important;
    width: 100%;
  }
}
