.linksWrapper {
  background-color: var(--primaryColor);
  margin: auto 0;
}
.links {
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 5vw;
  grid-template-rows: 5vw 5vw;
  background-color: var(--primaryColor);
  border-radius: 4px;
  align-items: center;
  text-align: center;
}
.links > a,
.links > span {
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
  margin: 2px 2px;
  text-decoration: none;
  display: inline;
  justify-self: center;
}
a > p {
  display: none;
}
@media (max-width: 1200px) {
  .links > a,
  .links > span {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    padding: 1.5vw;
    font-size: 3vw;
    margin: 1vw;
  }
  .links {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw;
    grid-template-rows: 8vw 8vw;
  }
}

@media (max-width: 769px) {
  .links > a,
  .links > span {
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    padding: 2.25vw;
    font-size: 4.5vw;
    margin: 1.5vw;
  }
  .links {
    display: grid;
    grid-template-columns: 12vw 12vw 12vw 12vw;
    grid-template-rows: 12vw 12vw;
  }
}
@media (max-width: 425px) {
  .links > a,
  .links > span {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    padding: 5vw;
    font-size: 10vw;
    margin: 0;
  }
  .links {
    display: grid;
    grid-template-columns: 21.6vw 21.6vw 21.6vw 21.6vw;
    grid-template-rows: 21.8vw 21.8vw;
    padding: 5px 20px;
    padding-left: 25px;
    margin: 0 auto;
    border-radius: 0;
    align-items: center;
    width: fit-content;
  }
}
