/* Banner background*/
.banner {
  width: 100%;
  height: 5vw;
  background-color: #0772a1;
}

/* Avatar */
.logo {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  transform: translate(0px, -35%);
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* Wrapper */
.user {
  padding-left: 1%;
}

/* Name, desc, other info over full desc */
.overInfo {
  display: flex;
  justify-content: flex-start;
  padding-left: 1%;
}

.local,
.contacts {
  margin: 1% 0 0 5%;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.local > * {
  margin-bottom: 20px;
}

/* "LOCAL" BLOCK*/

.name {
  font-weight: bold;
  font-size: 2vw;
}

/* Job box */
.lookingForAJob {
  transform: translate(0px, -160%);
}
.lookTrue {
  box-shadow: 3px 3px;
  color: rgb(21, 135, 21);
  background-color: rgb(125, 211, 117);
  font-weight: bold;
  border: 1px solid rgb(21, 213, 21);
  padding: 5px;
  font-size: 1vw;
}
.lookFalse {
  box-shadow: 3px 3px;
  color: rgba(88, 16, 16, 0.789);
  background-color: rgb(164, 126, 96);
  font-weight: bold;
  border: 1px solid rgb(220, 82, 2);
  padding: 5px;
  font-size: 1vw;
}

/* "About me" short description */
.shortDesc {
  font-size: 1vw;
}

/* CONTACTS BLOCK */
.contacts {
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 5vw;
  grid-template-rows: 5vw 5vw;
}
.contacts > a,
.contacts > span {
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
  margin: 2px 2px;
  text-decoration: none;
  display: inline;
}
a > p {
  display: none;
}
.decorLine {
  background-color: #3ba3d0;
  color: rgb(105, 0, 105);
  border: none;
  height: 2px;
}

.underInfo {
  padding-left: 1%;
}

.fullDesc {
  font-size: 1vw;
}
