.wrapper {
  background-color: var(--backColor);
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 5px;
}

.allUsers {
  padding-left: 20px;
}
.preloader {
  position: absolute;
  margin: 0 auto;
}
.show {
  margin: 15px auto;
  display: inline-block;
  padding: 5px;
  font-size: 30px;
  border-radius: 15px;
  border: 2px solid gray;
}
.content {
  min-height: 600px;
}

@media (max-width: 425px) {
  .content {
    min-height: 580px;
  }
}
