.wrapper {
  background-color: var(--backColor);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selected {
  font-weight: bold;
  color: var(--focusColor);
}
.selected,
.common {
  cursor: pointer;
  font-size: 40px;
  user-select: none;
}
.label {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 5px;
}

.allUsers {
  padding-left: 20px;
  padding-top: 10px;
}
.show {
  margin: 15px auto;
  display: inline-block;
  padding: 5px;
  font-size: 30px;
  border-radius: 15px;
  border: 2px solid gray;
}
