.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--primaryColor);
  padding: 10px 15px;
  border-radius: 4px;
}
.logo {
  width: 12vw;
  height: 12vw;
}
@media (max-width: 768px) {
  .avatar {
    padding: 5px 10px;
  }
  .logo {
    width: 18vw;
    height: 18vw;
  }
}
@media (max-width: 425px) {
  .avatar {
    padding: 5px 5x;
    margin: 0 auto 10px;
  }
  .logo {
    width: 40vw;
    height: 40vw;
  }
}
