/* Blocks */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
textarea {
  outline: none;
  resize: none;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "header header" "nav content";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
}
.app-wrapper_login {
  display: grid;
  grid-template-areas: "header header" "content content";
  grid-template-rows: 10fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
}

@media (max-width: 768px) {
  .app-wrapper {
    display: grid;
    grid-template-areas: "header" "content" "nav";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr;
    grid-gap: 0px;
  }
}
.app-content {
  grid-area: content;
}
.decor {
  z-index: 1;
  border: none;
  margin-top: 0;
  position: absolute;
  background-color: var(--primaryColor);
  align-items: center;
  height: 50px;
  width: 100%;
}
@media (max-width: 425px) {
  .app-content {
    min-height: 900px;
  }
}
