/* Blocks */
.container {
  max-width: 1200px;
  width: 100%;
  min-height: 1024px;
  margin: 0 auto;
}
textarea {
  outline: none;
  resize: none;
}

.error-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  user-select: none;
}

.connection-error-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  user-select: none;
}

.error-label {
  text-align: left;
  font-weight: bold;
}

.connection-error {
  text-align: left;
}
.error-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.warning-emoji {
  margin-right: 8px;
  font-size: 30px;
}
.errors {
  background-color: brown !important;
  color: azure !important;
  text-align: center !important;
  width: 400px;
}
.app-wrapper {
  display: grid;
  grid-template-areas: "header header" "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
}

@media (max-width: 768px) {
  .app-wrapper {
    display: grid;
    grid-template-areas: "header" "content" "nav";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr;
    grid-gap: 0px;
  }
}
.app-content {
  grid-area: content;
}
.decor {
  z-index: 1;
  border: none;
  margin-top: 0;
  position: absolute;
  background-color: var(--primaryColor);
  align-items: center;
  height: 50px;
  width: 100%;
}
