html {
  font-size: 15px;
  --primaryColor: #3490ce;
  --secondaryColor: #435a7e;
  --backColor: rgb(201, 224, 240);
  --focusColor: #fff540;
  --borderColor: black;
}
body {
  margin: 0;
  background: linear-gradient(to bottom, #2c3e50, #3498db);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
