html {
  font-size: 15px;
  --primaryColor: #3490ce;
  --secondaryColor: #435a7e;
  --backColor: rgb(201, 224, 240);
  --focusColor: #2f4e81;
  --borderColor: black;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(52, 144, 206, 0.9) inset !important;
  -webkit-text-fill-color: white !important;
}
