.wrapper {
  display: flex;
  margin-top: 5px;
}

.wrapper > button {
  cursor: pointer;
  width: 40px;
}

.wrapper > span {
  width: 40px;
}

.selected {
  font-weight: bold;
  color: var(--focusColor);
}
.selected,
.common {
  margin: 0 5px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 40px;
  user-select: none;
}

@media (max-width: 425px) {
  .selected,
  .common {
    font-size: 22px;
    margin: 0 3px;
  }
}
