.header {
  grid-area: header;
  background-color: #ff8700;
  align-items: center;
}
.logo {
  font-size: 3vw;
  text-align: center;
  color: #3ba3d0;
  font-family: "Baloo Bhai", cursive;
  padding: 5px;
  padding-bottom: 10px;
}
