.header {
  grid-area: header;
  z-index: 10;
  background-color: var(--primaryColor);
  align-items: center;
  height: 50px;
}
.logo {
  font-size: 3vw;
  text-align: center;
  color: var(--secondaryColor);
  font-family: "Baloo Bhai", cursive;
  padding: 5px;
  padding-bottom: 10px;
}
