.header {
  grid-area: header;
  z-index: 10;
  background-color: var(--primaryColor);
  align-items: center;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.logout {
  margin-left: 5px;
}
header > a {
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 768px) {
  header > a {
    margin-left: 0px;
  }
  .logout {
    margin-right: 25px;
  }
}
