.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.writingArea {
  background-color: var(--backColor);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-right: 30px;
}
.textarea {
  height: 100%;
  border: none;
  padding: 9px;
  border-radius: 4px;
  font-size: 1.3em;
  background-color: var(--backColor);
}
.button {
  padding: 5px;
  color: white;
  border: none;
  margin-left: 80%;
  width: 20%;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: var(--secondaryColor);
}
.button:hover {
  color: var(--focusColor);
  transition: color 0.2s linear;
}
.buttonWrapper {
  padding: 5px;
}
.posts {
  width: 60%;
}
.spy {
  height: 90px;
  border-color: transparent;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .writingArea,
  .posts {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0px;
  }
}
