.wrapper {
  display: none;
}

.item a {
  color: var(--secondaryColor);
  text-decoration: none;
}

.item :hover {
  color: #fff540;
  transition: color 0.5s linear;
}

.item {
  padding: 10px;
  font-size: 1.5em;
}

.item .active {
  color: #fff540;
  transition: color 0.5s linear;
}
@media (max-width: 768px) {
  .wrapper {
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
    padding: 10px 20px;
    display: flex;
    position: fixed;
    font-size: 2em;
    bottom: 0;
    height: 12%;
    justify-content: space-between;
    z-index: 20;
    background-color: var(--primaryColor);
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5px;
  }
}
