.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: bisque;
  min-height: 500px;
}
.peopleArea {
  border-right: 1px solid black;
}
.senderArea {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid black;
}
.messageArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.senderWrapper {
  margin-left: 10px;
}

.textarea {
  width: 90%;
  padding: 5px;
}

.button {
  width: 15%;
  height: 5%;
}
