.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: var(--backColor);
  min-height: 500px;
}
.peopleArea {
  border-right: 1px solid var(--borderColor);
}
.senderArea {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--borderColor);
}
.messageArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
