.nav {
  /* background-color: #024a68; */
  padding: 15px;
  margin-right: 10px;
}

.item a {
  color: var(--primaryColor);
  text-decoration: none;
}

.item :hover {
  color: #fff540;
  transition: color 0.5s linear;
}

.item {
  padding: 10px;
  font-size: 1.5vw;
}

.item .active {
  padding-left: 10px;
  color: #fff540;
  border-left: 2px solid #fff540;
  transition: color 0.5s, padding-left 0.5s, border-left 0.1s;
}
